<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>

</section>

<br />
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Destination</th>
            <th>Arrival</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>

            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h5>No Destinations</h5>
<% } %>
&nbsp; &nbsp; &nbsp;

<form action="/flights/<%= flight._id %>/destinations" method="POST">

    <label>Airport:</label>
    <select name="airport">
        <option value="DEN">DEN</option>
        <option value="ATL">ATL</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX </option>
        <option value="SAN">SAN</option>
    </select> <br />
    <label>Arrival:</label>
    <input type="datetime-local" name="arrival" checked /> <br />
    <input type="submit" value="Submit" />
</form>
&nbsp; &nbsp; &nbsp;
<h5>Tickets:</h5>
<ul>
    <% if (tickets.length) { %>

    <% tickets.forEach(function(t) { %>
    <li>
        Seat: <%= t.seat %> Price: <%= t.price %>
    </li>
    <% }); %>
    <% }%>
</ul>

<form method="POST" action="/flights/<%= flight._id %>/tickets">
    <div>
        <label>Seat No:
            <input type="text" name="seat"></input>
        </label><br>
        <label>Price: $
            <input type="text" name="price"></input>
        </label><br><br>

        <input type="submit" value="Add Ticket">

    </div>
</form>

<%- include('../partials/footer') %>